
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Удаление</h2>
<h1>Запись удаленна </h1>
<div>
    @Html.ActionLink("Вернуться на предыдущую страницу", "Index", "Home");
</div>

